@import './element-plus.css';

.app-form-item>.app-form-item-required::after {
  content: '*';
  color: var(--color-danger);
  margin-left: 4px;
}

.app-form-item>.app-form-item-error {
  color: var(--color-danger);
}