.el-menu {
  border-right: none !important;
}

.el-menu-item.is-active {
  background-color: #ecf5ff;
}

.el-menu-item,
.el-sub-menu,
.el-sub-menu__title {
  height: 42px !important;
  line-height: 42px !important;
  border-radius: 10px !important;
}

.el-menu-item,
.el-sub-menu {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}