@import './app.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #3b82f6;
    --color-primary-light-4: #e6f4ff;
    --color-danger: #f56c6c;

    --text-color: #334155;
    --background-color: #f1f5f9;

    --menu-active-color: var(--color-primary);
    --menu-active-background: var(--color-primary-light-4);
    --menu-hover-color: var(--text-color);
    --menu-hover-background: var(--background-color);
  }

  :root[class~='dark'] {
    --color-primary: #3b82f6;
    --color-primary-light-4: #e6f4ff;
    --color-danger: #f56c6c;

    --text-color: #334155;
    --background-color: #f1f5f9;

    --menu-active-color: var(--color-primary);
    --menu-active-background: var(--color-primary-light-4);
    --menu-hover-color: var(--text-color);
    --menu-hover-background: var(--background-color);
  }
}

body {
  min-height: 100dvh;
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}